.detail__heading {
  background-color: white;
  color: #4472c4;
  text-align: left;
  padding: 0.5vh;
}

.detail__container {
  display: flex;
  justify-content: space-between;
  gap: 5vh;
  width: calc(100%);
  background-color: white;
  padding: 1rem;
  border-color: black;
  text-align: left;
  font-size: 1rem;
}
.detail__image {
  height: 35vh;
  object-fit: scale-down;
  margin-bottom: 1rem;
}

.detail__stock {
  color: #4472c4;
}

.detail__dataContainer div {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.detail__descriptionContainer div {
  padding: 0.25rem;
}

.detail__microServiceStock {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.detail__buttons {
  padding: 10px;
  margin: 10px;
  display: flex;
  gap: 100px;
  flex-direction: row;
}

.detail__addButton,
.detail__updateButton,
.detail__deleteButton {
  margin: 50px;
  padding: 0.5rem;
  transform: 98%;
}
