.dashboardPage {
  height: 84vh;
}
.dashboardPage__heading {
  background-color: white;
  color: #4472c4;
  text-align: left;
  padding: 0.5vh;
}

.dashboardPage__container {
  display: flex;
  flex: row;
  gap: 2vh;
  height: 75vh;
  padding: 2vh;
}

.dashboardPage__graphContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-color: #4472c4;
  border-radius: 0%;
  width: 250vh;
  height: 75vh;
  padding-left: 0.5rem;
}
.dashboardPage__graphTitle {
  font-size: 5vh;
}
.dashboardPage__graphFooter {
  font-size: 8vh;
  justify-content: flex-end;
  align-content: baseline;
  color: #4472c4;
  padding: 1rem;
  text-align: right;
}
.dashboardPage__metricsContainer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.dashboardPage__metricContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-style: solid;
  border-color: #4472c4;
  padding-left: 0.5rem;
  width: 50vh;
  height: 32rem;
}

.dashboardPage__metricLabel {
  font-weight: bolder;
}

.dashboardPage__metricData {
  font-size: 8vh;
  justify-content: flex-end;
  align-content: baseline;
  color: #4472c4;
  padding: 1rem;
  text-align: right;
}
