.productMovementsPage__fieldContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #4472c4;
  color: white;
  margin-left: 1rem;
  margin-top: 0.1rem;
  width: 100%;
}
.productMovementsPage__field {
  text-align: left;
  font-size: 0.8rem;
}
.productMovementsPage__dataContainer {
  display: flex;
  flex-direction: column;

  background-color: white;
  width: 100%;
  height: 78vh;
  border-style: solid;
  border-width: 0.2px;
  border-color: #4472c4;
  overflow-y: scroll;
  margin-left: 1rem;
  list-style: none;
}

.productMovementsPage__dataRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.productMovementsPage__data {
  text-align: left;
  font-size: 0.8rem;
  border-style: solid;
  border-width: 0.1px;
  width: 20%;
}
