.collectionsGallery {
  /* height: 84vh; */
  height: 71vh;
  width: 98%;
  font-size: 0.8rem;
}

.collectionsGallery__heading {
  background-color: white;
  color: #4472c4;
  text-align: left;
  padding: 0.5vh;
}

.collectionsGallery__recordsContainer {
  height: 65vh;
  margin-left: 1rem;
  margin-top: 0.1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.collectionsGallery__recordContainer {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 2%;
  padding: 0.5rem;
  max-width: 20%;
  height: auto;
}

.collectionsGallery__fieldDataContainer {
}
