.header {
  height: 8vh;
  background-color: #4472c4;
  color: white;
  display: grid;
  grid-template-columns: 20% 65% 15%;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-items: stretch;
}

.header__logoCompany a {
  text-decoration: none;
  color: white;
}

.header__logoCompany a:hover {
  text-decoration: none;
  color: rgb(2, 2, 32);
}

.header__menu {
  color: white;
}

.header__logocompany {
  background-color: #4472c4;
  color: white;
}

.header__initialAndLogout {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  gap: 0.2rem;
  align-items: center;
}

.header__initialAndLogout:hover {
  text-decoration: none;
  background-color: #4472c4;
  color: rgb(2, 2, 32);
  padding: 0.6rem;
}

.header__userLoggedInitials {
  background-color: #4472c4;
  /* border: white;
  border-style: solid;
  border-radius: 50%; */
}

.header__logout {
  background-color: #4472c4;
  /* border: white;
  border-style: solid;
  border-radius: 20%; */
  padding: 0.2rem;
}
