.header {
  height: 8vh;
  width: 100%;
  background-color: #4472c4;
  color: white;
  display: grid;
  grid-template-columns: 20% 65% 15%;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-items: stretch;
}

.header__logoCompany a {
  text-decoration: none;
  color: white;
}

.header__logoCompany a:hover {
  text-decoration: none;
  color: rgb(2, 2, 32);
}

.header__menu {
  color: white;
}

.header__logocompany {
  background-color: #4472c4;
  color: white;
}

.header__initialsAndLogStatus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.6rem;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}

/* .header__initialAndLogout:hover {
  text-decoration: none;
  background-color: #4472c4;
  color: rgb(2, 2, 32);
} */

.header__userLoggedInitials {
  background-color: #4472c4;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 50%;
  padding: 0.2rem;
}

.header__userLoggedInitials:hover {
  color: rgb(2, 2, 32);
}

.header__logStatus {
  background-color: #4472c4;
  padding: 0.2rem;
}

.header__logStatus:hover {
  color: rgb(2, 2, 32);
}
