.productsPage {
  height: 84vh;
}

.productsPage__heading {
  background-color: white;
  color: #4472c4;
  text-align: left;
  padding: 0.5vh;
}

.productsPage__container {
  background-color: white;
  height: 71vh;
  overflow-y: scroll;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2vh;
}

.productsPage__list {
  border-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin: 0 auto;
}

.productsPageCard {
  width: calc(20% - 0.1vh);
  border-style: solid;
  border-width: 0.2px;
  border-color: #4472c4;
  border-radius: 2%;
  max-width: 20%;
  min-width: 200px;
  min-height: 25%;
  padding: 0.5rem;
  text-align: left;
  text-decoration: none;
  list-style: none;
  object-fit: fill;
  justify-content: center;
}

.productsPageCard__imageContainer {
  text-align: center;
}
.productsPageCard__image {
  max-height: 19vh;
  margin-bottom: 1rem;
  padding: 1vh;
}

.productsPageCard__image:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #4472c4;
  padding: 0vh;
}

.productsPageCard__shortDescription {
  font-weight: bold;
}

.productsPageCard__skuContainer {
  display: flex;
}
.productsPageCard__sku {
  color: rgb(2, 2, 32);
  font-weight: bold;
}

.productsPageCard__sku:hover {
  text-decoration: underline;
  color: #4472c4;
}
.productsPageCard__stockContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
